
  #chart circle[fill="#5bbdd2"] {
    stroke-width: 2px !important;
    fill: white !important;
    stroke: #5bbdd2 !important;
  }

  .google-visualization-tooltip-item {
    white-space: nowrap;
  }